<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>图书管理系统-学生端</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap.min.css'}" rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap-responsive.min.css'}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/style.css'}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="child :: #head"/>
<div th:include="child :: #menu" />
<div class="container">
  <div id="toolbar">
    <div class="btn-group">
      <button class="btn btn-info btn-md" data-toggle="modal" id="addBookTypeBtn">新增</button>
    </div>
  </div>
  <table id="bookTypeTable" data-url="/bookManager/bookTypeList" data-show-refresh="true" class="table" data-toolbar="#toolbar" data-toggle="table" data-search="true" data-pagination="true"  data-checkbox-header="false" data-maintain-selected="true">
    <thead >
    <tr>
      <th data-field="typeName" data-title="类型名称" ></th>
      <th data-title="操作" data-formatter="operatorFormatter"></th>
    </tr>
    </thead>
  </table>
</div>


<div class="modal fade" id="addBookType" tabindex="-10" role="dialog"  aria-labelledby="title" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="title">添加书籍</h4>
      </div>
      <div class="modal-body">
        <form id="edit-bookType" class="center-block" action="#">
          <input id="id" value="" name="typeId" type="hidden">
            <div class="control-group">
              <label class="control-label" for="title">类型名称</label>
              <div class="controls">
                <input type="text" class="span3"   name="typeName">
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">取消</button>
        <button type="submit" class="btn btn-info add-btn" id="uploadBookType">提交</button>
      </div>
    </div>
  </div>
</div>
<div th:include="child :: #footer" />
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery-1.7.2.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table-zh-CN.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/setting.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/base.js'}"></script>
<script >
    var bookTypeCache = {};
    $(function () {

        initData();
        initClass();
        initEvent();
    });
    function initClass() {
        $('#bookType').addClass("active");
        $('#bookAll').addClass("active");
    }
    function initData() {

    }
    function initEvent() {
        $('#addBookTypeBtn').on('click', function () {
            $('#title').text("添加类型");
            $('#id').val(null);
            $('#edit-bookType')[0].reset();
            $('#addBookType').modal('show');
        });

        $('#uploadBookType').on('click', function () {
            var id = $('#id').val();
            var url, msg;
            //新增操作
            if (id == "" || id == null || id == undefined) {
                url = "/bookManager/addBookType";
                msg = "添加";
            } else {//更新操作
                url = "/bookManager/updateBookType";
                msg = "更新";

            }
            $.ajax({
                url: url,
                type: "post",
                data: $('#edit-bookType').serialize(),
                success: function (data) {
                    if (data == true) {
                        alert(msg + "成功");
                        $('#addBookType').modal('hide');
                        $('#bookTypeTable').bootstrapTable('refresh');
                    } else {
                        alert(msg + "失败");
                    }
                }
            });
        })
    }

    function operatorFormatter(val, row) {
        bookTypeCache[row.typeId] = row;
        return '<a href="javascript:editBookType(' + row.typeId + ')"><i class="icon-edit" ></i></a>&nbsp;&nbsp;' +
            '<a href="javascript:deleteBookType(' + row.typeId + ')"><i class="icon-remove" ></i></a>';
    }

    function editBookType(id) {
        $('#title').text("编辑类型");
        formDataLoad("edit-bookType",bookTypeCache[id]);
        $('#addBookType').modal('show');
    }

    function deleteBookType(id) {
        if (!confirm("确定删除" + bookTypeCache[id].typeName + " ?")) {
            return false;
        }
        $.ajax({
            url: "/bookManager/delBookType",
            data: {
                id: id
            },
            type: "post",
            success: function (data) {
                if (data == true) {
                    alert("删除成功");
                    $('#bookTypeTable').bootstrapTable('refresh');
                } else {
                    alert("删除失败");
                }
            }
        })
    }

</script>

</body>
</html>
