<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Charts - Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap.min.css'}" rel="stylesheet">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap-responsive.min.css'}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
    <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/style.css'}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div th:include="child :: #head"/>
<div th:include="child :: #menu"/>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bar-chart"></i>
                            <h3>
                                最近一周借书状态</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div id="borrow-return" class="chart-holder" width="538" height="250">
                            </div>
                            <!-- /pie-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <div class="span6">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bar-chart"></i>
                            <h3>
                                图书分类预览</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div id="book-type" class="chart-holder" width="538" height="350">
                            </div>
                            <!-- /bar-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
                <div class="span6">
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bar-chart"></i>
                            <h3>
                                借阅者分类</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div id="sex-type" class="chart-holder" width="538" height="250">
                            </div>
                            <!-- /line-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>

                <!-- /span6 -->
                <!-- /span6 -->
            </div>

            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<div th:include="child :: #footer"/>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery-1.7.2.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/echarts.js'}" type="text/javascript"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/macarons.js'}"></script>

<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/base.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/setting.js'}"></script>
<script>
    $(function () {
        initData();
        initHtml();
    });
    //初始图书分类
    function initPieChart(title, name, id, status) {
        var pieOption = {
            title : {
                text: title,
                subtext: getNowFormatDate(0),
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: []
            },
            series : [
                {
                    name: name,
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '50%'],
                    minAngle: 3,
                    startAngle: 60,
                    data:[]
                }
            ]
        };
        var legend = new Array();
        status.forEach(function (sta, index) {
            legend[index] = sta.status;
            pieOption.series[0].data[index] = new pieRow(sta.status, sta.num)

        });
        pieOption.legend.data = legend;
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        myChart.setOption(pieOption);
    }

    // 最近一周借还书量对比
     function borrowLogsInWeek(data) {
        var lineOption = {
            title: {
                text: "最近一周借/还书对比"
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['借阅','还书']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },

            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一','周二','周三','周四','周五','周六','周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'借阅',
                    type:'line',
                    stack: '总量',
                    data:[]
                },
                {
                    name:'还书',
                    type:'line',
                    stack: '总量',
                    data:[]
                }
            ]
        };
        var dateToWeek = data.dateToWeek;
        var borrowList = data.borrow;
        var returnList = data.return;
        var legend = data.legend;
        legend.forEach(function (date, index) {
            lineOption.xAxis.data[index] = dateToWeek[date];
            var find = false;
            borrowList.forEach(function (val) {
                if (val.status == date) {
                    lineOption.series[0].data[index] = val.num;
                    find = true;
                }
            });
            if (find == false) {
                lineOption.series[0].data[index] = 0;
            } else {
                find = false;
            }

            returnList.forEach(function (val) {
                if (val.status == date) {
                    lineOption.series[1].data[index] = val.num;
                    find = true;
                }

            });

            if (find == false) {
                lineOption.series[1].data[index] = 0;
            }
        });
        console.log(lineOption)
        var myChart = echarts.init(document.getElementById('borrow-return'), 'macarons');
        myChart.setOption(lineOption);

    }
    
    function initData() {

        $.ajax({
            url: "/bookManager/bookTypeStatus",
            type: "get",
            success: function (data) {
                initPieChart("图书总分类", "占比", "book-type",data);
            }
        })

        $.ajax({
            url: "/logs/borrowUserSex",
            type: "get",
            success: function (data) {
                initPieChart("借阅性别分类", "占比", "sex-type", data);
            }
        })
        $.ajax({
            url: "/logs/logsInWeek",
            type: "get",
            success: function (data) {
                borrowLogsInWeek(data);
            }
        })
    }

    /**
     * 初始化class
     */
    function initHtml() {
        $('#charts').addClass("active");
    }

    function getNowFormatDate(subDays) {
        var date = new Date();
        date.setDate(date.getDate() + subDays);
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

    function pieRow(name,value) {
        this.value = value;
        this.name = name;
    }
</script>
</body>
</html>
