<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>图书管理系统-学生端</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
  <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap.min.css'}" rel="stylesheet">
  <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap-responsive.min.css'}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
  <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
  <link th:href="@{${#httpServletRequest.getContextPath()} + '/css/style.css'}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <style>
    .rect {
      height: 100px;
      border: 1px solid black;
      padding: 40px 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
      margin-top: 10px;
      margin-left: 10px;
    }
  </style>
</head>
<body >
<div th:include="child :: #head"/>
<div th:include="child :: #menu"/>
<div class="container">
        <table id="logsTable" data-show-refresh="true" data-title="借书历史" class="table"  data-toggle="table" data-search="true" data-pagination="true">
            <thead >
            <tr>
                <th data-field="username" data-title="学号" ></th>
                <th data-field="bookName" data-title="书名" ></th>
                <th data-field="opType"   data-title="操作" ></th>
                <th data-field="createTime"   data-title="操作时间"></th>
                <th data-field="isReturn" data-title="还书" data-formatter="returnOperator"></th>

            </tr>
            </thead>
        </table>
</div>

<div th:include="child :: #footer" />
<div th:include="child :: #myDialog" />
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery-1.7.2.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table-zh-CN.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/setting.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/base.js'}"></script>
<script th:inline="javascript">
  $(function () {
      initHtml();
      initData();
      initEvent();
  });
  function initData() {
      $.ajax({
          url: "/logs/find",
          data:{
              userId: getCookie("id")
          },
          success: function (data) {
              $('#logsTable').bootstrapTable('load', data);
              $('.fixed-table-loading').hide();
          }
      })
  }
    function returnOperator(val, row) {
        if (val == 1) {
            return '<span class="label label-success">' + 已还 +'</span>';
        }
        return '<span class="btn btn-primary" onclick="returnBook()">' + 还书 +'</span>';
    }
    
    function returnBook(bookId) {
       $.ajax({
            url: "/book/return",
            data:{
                bookId:bookId,


            }
       })
    }
  /**
   * 初始化class
   */
  function initHtml() {
      $('#return').addClass("active");
  }

</script>

</body>
</html>
