<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>图书管理系统-学生端</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap.min.css'}" rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/bootstrap-responsive.min.css'}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/font-awesome.css'}" rel="stylesheet">
<link th:href="@{${#httpServletRequest.getContextPath()} + '/css/style.css'}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="child :: #head"/>

<div th:include="child :: #menu" />

</div>
<div class="container">
  <div id="toolbar">
    <div class="btn-group">
      <button class="btn btn-info btn-md" data-toggle="modal" id="addUserBtn">新增</button>
    </div>
  </div>
    <table id="userTable" data-toolbar="#toolbar" data-show-refresh="true" data-url="/user/list" class="table"  data-toggle="table" data-search="true" data-pagination="true">
      <thead >
      <tr>
        <th data-field="username" data-title="学号" ></th>
        <th data-field="password" data-title="密码" data-sortable="true" data-formatter="passFormatter"></th>
        <th data-field="info" data-title="信息" data-formatter ="infoFormatter"></th>
        <th data-field="isValid" data-title="黑名单" data-formatter = "isValidFormatter"></th>
        <th data-title="操作" data-formatter="operatorFormatter"></th>
      </tr>
      </thead>
    </table>
</div>
<div class="modal fade" id="addUser" tabindex="-10" role="dialog"  aria-labelledby="userTitle" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userTitle">添加用户</h4>
      </div>
      <div class="modal-body">
        <form id="edit-user" action="#">
          <input id="id" name="id" type="hidden" value="">
          <div class="control-group ">
            <label class="control-label" for="username">学号</label>
            <div class="controls ">
              <input type="text" class="span3"  id="username" name="username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
              <input type="password" class="span3"  id="password" name="password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="info">类型</label>
            <div class="controls">
                <select name="info" id="info">
                    <option value="0" >学生</option>
                    <option value="1" >管理员</option>
                </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="isValid">黑名单</label>
            <div class="controls">
              <select name="isValid" id="isValid">
                <option value="0" >是</option>
                <option value="1" >否</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">取消</button>
        <button type="submit" class="btn btn-info add-btn" id="uploadUser">提交</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="showLogs" tabindex="-10" role="dialog"  aria-labelledby="logTitle" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="logTitle">借书日志</h4>
      </div>
      <div class="modal-body">
        <table id="logsTable" data-show-refresh="true" class="table"  data-toggle="table" data-search="true" data-pagination="true">
          <thead >
          <tr>
            <th data-field="username" data-title="学号" ></th>
            <th data-field="bookName" data-title="书名" ></th>
            <th data-field="message"  data-title="额外信息"></th>
            <th data-field="opType"   data-title="操作" ></th>
            <th data-field="createTime"   data-title="操作时间"></th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<div th:include="child :: #footer" />
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/jquery-1.7.2.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/bootstrap-table-zh-CN.min.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/setting.js'}"></script>
<script th:src="@{${#httpServletRequest.getContextPath()} + '/js/base.js'}"></script>
<script >
  var userCache = {};
  $(function () {
      initClass();
      initEvent();
  });

  function initClass() {
      $('#userManager').addClass("active");
  }

  function initEvent() {
      $('#addUserBtn').on('click', function () {
          $('#userTitle').text("添加用户");
          $('#edit-user')[0].reset();
          $('#addUser').modal('show');
      });

      $('#uploadUser').on('click', function () {
          var id = $('#id').val();
          var url, msg;
          //新增操作
          if (id == "" || id == null || id == undefined) {
              url = "/user/addUser";
              msg = "添加";
          } else {//更新操作
              url = "/user/updateUser";
              msg = "更新";
          }

          $.ajax({
              url: url,
              type: "post",
              data: $('#edit-user').serialize(),
              success: function (data) {
                  if (data == true) {
                      alert(msg + "成功");
                      $('#addUser').modal('hide');
                      $('#userTable').bootstrapTable('refresh');
                  } else {
                      alert(msg + "失败");
                  }
              }
          });
      })
  }

  function passFormatter(val) {
      return "********";
  }

  function operatorFormatter(val, row) {
      userCache[row.id] = row;
      return   '<a href="javascript:borrow(' + row.id + ')"><i class="icon-eye-open" ></i></a>&nbsp;&nbsp; ' +
              '<a href="javascript:editUser(' + row.id + ')"><i class="icon-edit" ></i></a>&nbsp;&nbsp;' +
              '<a href="javascript:delUser(' + row.id + ')"><i class="icon-remove" ></i></a>';
  }
  function borrow(id) {
      $.ajax({
          url: "/logs/find",
          data:{
              userId: id
          },
          success: function (data) {
              $('#logsTable').bootstrapTable('load', data);
              $('.fixed-table-loading').hide();
              $('#showLogs').modal('show');
          }
      })


  }

  function editUser(id) {
      $('#userTitle').text("编辑用户");
      $('#edit-user')[0].reset();
      formDataLoad('edit-user', userCache[id]);
      $('#addUser').modal('show');
  }

  function delUser(id) {
      if (!confirm("确定删除" + userCache[id].username + " ?")) {
          return false;
      }
      $.ajax({
          url: "/user/delUser",
          data: {
              id: id
          },
          type: "get",
          success: function (data) {
              if (data == true) {
                  alert("删除成功");
                  $('#userTable').bootstrapTable('refresh');
              } else {
                  alert("删除失败");
              }
          }
      })
  }
  function infoFormatter(val) {
      if (val == 0) {
          return "学生";
      } else if (val == 1) {
          return "管理员";
      }
      return val;
  }
  function isValidFormatter(val) {
      if (val == 0) {
          return '<label class= "label label-warn">是</label>';
      } else {
          return '<label class= "label label-success">否</label>';
      }
  }
</script>

</body>
</html>
