<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xynu.mapper.BookLogsMapper">

    <resultMap id="logsMap" type="com.xynu.entity.BookLogs">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="book_id" property="bookId"/>
        <result column="op_type" property="opType"/>
        <result column="message" property="message"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_column_list">
        id,user_id,book_id,op_type, message
    </sql>
    <sql id="base_table" >
        book_logs
    </sql>


    <insert id="insertLog" parameterType="com.xynu.entity.BookLogs" >
        INSERT INTO
        <include refid="base_table"/>
        (user_id,book_id,op_type,message)
        values
        (#{userId,jdbcType=INTEGER},#{bookId,jdbcType=INTEGER},#{opType,jdbcType=INTEGER},#{message,jdbcType=VARCHAR})
    </insert>

    <select id="selectLogsByUserId" resultMap="logsMap">
        SELECT *
        FROM
        book_logs
        WHERE user_id = #{userId, jdbcType=INTEGER}
    </select>

</mapper>