<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xynu.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.xynu.entity.Book">
        <id column="book_id" property="bookId" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" />
        <result column="title" property="title" />
        <result column="publish" property="publish"/>
        <result column="publish_year" property="publishYear"/>
        <result column="author" property="author"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="stocks" property="stocks"/>
        <result column="url" property="url"/>
        <result column="introduce" property="introduce"/>
    </resultMap>
    <sql id="base_column_list">
        book_id,type_id,title,publish, publish_year, author,price,number,stocks,url,introduce
    </sql>
    <sql id="base_table" >
        book
    </sql>

    <select id="selectAllBook" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        FROM
        <include refid="base_table"/>

    </select>
    <insert id="insertBook" parameterType="com.xynu.entity.Book" >
        INSERT INTO
        <include refid="base_table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                type_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="publish != null">
                publish,
            </if>
            <if test="publishYear != null">
                publish_year,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="number != null">
                number,stocks,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="publish != null">
                #{publish,jdbcType=VARCHAR},
            </if>
            <if test="publishYear != null">
                #{publishYear,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
                #{number,jdbcType=INTEGER},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="deleteBook" >
        DELETE
        FROM
        <include refid="base_table"/>
        WHERE
        book_id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="updateBook" parameterType="com.xynu.entity.Book">
        UPDATE
        <include refid="base_table"/>
        SET
        <trim suffixOverrides=",">
            <if test="title != null and title != '' ">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="publish != null and publish != '' ">
                publish=#{publish,jdbcType=VARCHAR},
            </if>
            <if test="publishYear != null and publishYear != '' ">
                publish_year=#{publishYear,jdbcType=INTEGER},
            </if>
            <if test="author != null and author != '' ">
                author=#{author,jdbcType=VARCHAR},
            </if>
            <if test="price != null and price != '' ">
                price=#{price,jdbcType=DOUBLE},
            </if>
            <if test="number != null">
                number=#{number,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url=#{url,jdbcType=INTEGER},
            </if>
            <if test="introduce != null">
                introduce=#{introduce,jdbcType=INTEGER},
            </if>
            <if test="stocks != null">
                number=#{stocks,jdbcType=INTEGER},
            </if>

        </trim>
        WHERE
        book_id = #{bookId, jdbcType=INTEGER}
    </update>

    <select id="selectBookById" resultMap="BaseResultMap">
        SELECT
        <include refid="base_column_list"/>
        FROM
        <include refid="base_table"/>
        WHERE book_id=#{id, jdbcType=INTEGER}
    </select>

    <select id="selectCanBorrowBooks" resultMap="BaseResultMap">
        SELECT
        book_id,title,stocks,url
        FROM
        <include refid="base_table"/>
        WHERE stocks > 1
    </select>
</mapper>