<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xynu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xynu.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="INTEGER"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="base_column_list">
        id,username,password,info, is_valid,sex
    </sql>
    <sql id="base_table" >
        user
    </sql>

    <select id="check" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        FROM
        <include refid="base_table"/>
        WHERE
        username = #{username,jdbcType=VARCHAR}
        AND
        password = #{password,jdbcType=VARCHAR}
        AND
        info = #{info,jdbcType=INTEGER}
    </select>

    <insert id="insertUser" parameterType="com.xynu.entity.User" >
        INSERT INTO
        <include refid="base_table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>
    <update id="updateUser" parameterType="com.xynu.entity.User">
        UPDATE
        <include refid="base_table"/>
        SET
        <trim suffixOverrides=",">

            <if test="username != null">
                username=#{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password=#{password,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                info=#{info,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid=#{isValid,jdbcType=INTEGER},
            </if>
        </trim>
        WHERE
        id=#{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteUser" parameterType="com.xynu.entity.User">
        DELETE
        FROM
        <include refid="base_table"/>
        WHERE
        id=#{id,jdbcType=INTEGER}
    </delete>
    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        FROM
        <include refid="base_table"/>
    </select>

    <select id="selectUserById" resultType="com.xynu.entity.User">
        SELECT
        <include refid="base_column_list"/>
        FROM
        <include refid="base_table"/>
        WHERE id = #{id, jdbcType=INTEGER}
    </select>
</mapper>